{% extends "base.html" %}

{% block content %}
<h1>Video Game Price Finder</h1>
<style>
.stores {
  padding: 70px 0;
  text-align: center;
}
h1 {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
</style>

<div class="container">
    <div class="stores"> 
        <form>
            <div class= "input-group">
                <input class="form-control form-control-lg" type="text" placeholder="Game" id="game" aria-label=".form-control-lg example">
                <button class="btn btn-danger btn-lg" type="button" id="sendBtn">Submit</button>
            </div>
        </form>
        <div class="container">
            <div class="row align-items-center" id="crd">
            </div>        
        </div>    
    </div>
</div>


{% endblock %}